body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {                     
  font-size: 16px;
  scroll-behavior: smooth; /* w3schools.2025*/
}
body {
  font-family: 'Aptos', sans-serif;
  background-color: #030303;
  color: #fbfafa;
  line-height: 1.6;
  font-size: 0.875rem; /* 14px */
}


h1, h2, h3, h4 {
  font-family: 'Aptos Bold', sans-serif;
  color: #1b10ed;
  margin-bottom: 0.5em;
}

h1 {
  font-size: 1.75rem; /* 28px */
}

h2 {
  font-size: 1.5rem;/* 24px */
}

h3 {
  font-size: 1.25rem;
}

p, li, a, label, input {
  font-family: 'Aptos Regular', sans-serif;
  font-size: 0.875rem;
}

nav a {
  font-family: 'Aptos Medium', sans-serif;
  font-size: 0.75rem;
}

header {
  background-image:url(../Images/148077-abstract-glowing-cool-blue-wave-background-design.jpg) ; 
  padding: 1em 2em;
  color: #f3f2f2;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav a {
color: #F9F9F9;
  text-decoration: none;
  margin-left: 2em;
  transition: color 0.3s;
}



section {
  padding: 3em 2em;
  max-width: 1200px;
  margin: auto;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
}

.card {
  background: rgb(72, 106, 146);
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

footer {
  background-image:url(../Images/148077-abstract-glowing-cool-blue-wave-background-design.jpg);
  color:#F9F9F9;
  padding: 2em;
  text-align: center;
}

@media (max-width: 992px) {
  .grid-3 {
    grid-template-columns: 1fr 1fr;
  }

  header nav a {
    margin-left: 1em;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 14px;
  }

  .grid-3 {
    grid-template-columns: 1fr;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  
}

.accordion-btn {
  background-color: #1b10ed;
  color: #fff;
  padding: 10px;
  width: 100%;
  border: none;
  text-align: left;
  cursor: pointer;
  margin-top: 5px;
}
.accordion-content {
  display: none;
  padding: 10px;
  background-color: #f9f9f9;
  color: #000;
}

.gallery img {
  width: 150px;
  margin: 10px;
  border-radius: 8px;
  cursor: pointer;
}
.lightbox {
  display: none;
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0,0,0,0.8);
  justify-content: center;
  align-items: center;
}
.lightbox img { max-width: 80%; max-height: 80%; }




.btn {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        background: #0c28de;
        color: black;
        font-weight: bold;
        text-decoration: none;
        border-radius: 5px;
    }
    .btn:hover {
        background-color: rgb(152, 159, 153);
    }
